* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 64px;
}

#notification {
    position: relative;
}

#likeicon {
    font-size: 4rem;
}
#Like {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    border-radius: 50%;
    height: 2rem;
    font-size: 2rem;
}
#LikeButton {
    margin-top: 2rem;
    padding: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
}

#LikeButton:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}